body, html {
    width: 100%; 
    height: 100%; 
    overflow: hidden;
    font-family: 'Clear Sans', Arial, sans-serif;
}

/* plateau de jeu */
.plateau{
    width: 70vmin;
    height: 70vmin;
    margin: 0 auto; 
    background-color: #BBADA0;
    border-radius: 5px;
}

/* grille contenant l'ensemble des cellules de déplacement */
.grid {
    width: 100%; 
    position: relative;
}

/* cellule où il est possible de se déplacer */
.cell {
    width: 15vmin;
    height: 15vmin;
    margin: 2vmin 2vmin 0 0;
    background-color: #CDC1B4;
    float: left;
    border-radius: 10px;
}
/* ajout d'une marge à gauche pour chaque première cellule des lignes */
.cell:nth-child(4n+1) {
    margin-left: 2vmin;
}

/* nombres */
.number {
    position: absolute; /* le chiffre est au premier plan */
    height: 15vmin;
    width: 15vmin;
    font-size: 70px;
    font-weight: bold;
    text-align: center;
    line-height: 15vmin;
    background-color: #faf8ef;
    color: #776e65;
    transition: all .3s; /* vitesse de transition lorsque l'on se déplace */
    border-radius: 10px;
    
}

.title{
    text-align: center;
    font-size: 80px;
    color: #776e65;
}

.regles{
    text-align: center;
    font-size: 20px;
    color: #776e65;
}